
<div class="card mb-3">
  <h3 *ngIf="channel != null" class="card-header">{{channel.name}}</h3>
  <h3 *ngIf="channel == null" class="card-header">Chat</h3>
  <div class="card-body" style="height: 500px; overflow-y:scroll">
    <div class="messages">
      <div *ngFor="let message of messages" class="card-text">
        {{message.text}}
      </div>
    </div>
  </div>
  <div class="card-footer text-muted">
    <div class="form-inline">
        <input [(ngModel)]="message" class="form-control" style="width:calc(100% - 100px)">
        <button (click) = "sendMessage()" class="btn btn-primary" style="width:100px">enter</button>
    </div>
  </div>
</div>